<div class="container">

  <div class="row col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8">

    <div class="box">
      <div class="box-icon">
        <span><a href=<%= "./movies/#{@movie.rotten_id}" %>><img src=<%= "#{@movie.thumbnail}" %> /></a></span>
      </div>
      <div class="info">
        <a href=<%= "./movies/#{@movie.rotten_id}" %>><h4 class="text-center"><%= @movie.title %></h4></a>
        <h5 class="text-center"><em>Release Date: <%= @movie.release_date %></em></h5>
        <p><%= @movie.synopsis %></p>
      </div>
    </div>


    <% if current_user %>

    <form action='/movies' method='POST' id="comment_form">
      <div class="form-group">
        <label for="comment_form" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Submit a comment</label>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <input class="form-group" type="text" name="title" placeholder="Title of Post">
          <textarea class="form-control" rows=4 name="comment"></textarea>
          <input type="hidden" name="movie_id" value=<%= @movie.id.to_s %>>
          <input type="hidden" name="movie_rotten_id" value=<%= @movie.rotten_id.to_s %>>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <% end %>


    <div class="col-md-12">
      <h2 class="page-header">Comments</h2>
      <section class="comment-list">

        <!-- Comments -->
        <% if @comments != [] %>
        <% @comments.each do |comment| %>
        <article class="row">
          <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="thumbnail">
              <img class="img-responsive" src=<%= "#{User.find_by(id: comment.user_id).avatar_url}" %> /> 
              <figcaption class="text-center"><%= User.find_by(id: comment.user_id).name %></figcaption>
            </figure>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
              <div class="panel-body">
                <header class="text-left">
                  <div class="comment-title lead"><i class="fa fa-user"></i><%= comment.title %></div>
                  <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i><%= "Posted at: #{comment.updated_at.to_s}" %></time>
                </header>
                <div class="comment-post">
                  <p>
                    <%= comment.comment %>
                  </p>
                </div>
                <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>Edit Post</a></p>
              </div>
            </div>
          </div>
        </article>
        <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>
