<div class="container">
	<div class="col-sm-5">
		<div class="row">
			<div class="page-header">
				<h2><%= current_user.name %>'s Profile Info: <small></small></h2>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<p class="lead"><strong>Email: </strong><%= current_user.email %></p>
					
					<p class="lead"><strong>Location: </strong><%= current_user.location %></p>

					<hr>
					<h2><small>Bio:</small></h2>
					<p class="lead"><small><%= current_user.bio %></small></p>

					<hr>

					<div style="padding: 2em 0em;">
						<form method="get" action="/profile/edit"><button class="btn btn-info" type="submit">Edit Your Profile</button></form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-offset-1 col-md-5">
		<div class="page-header">
			<h2>Last Comments:<small></small></h2>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<% current_user.comments.last(5).each do |x| %>
				<p><%= x.comment %></p>
				<p><a href="/movies/<%= Movie.find_by(id: current_user.comments.last.movie_id).rotten_id %>">Movie Page</a></p>
				<% end %>


			</div>
		</div>
	</div>
</div>
</div>
</div>