<div class="page-header">
  <h1>Upcoming Rotten Movies</h1>
</div>


<% @movies.each_slice(2) do |movie| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box">
        <div class="box-icon">
          <span><a href=<%= "./movies/#{movie.first.rotten_id}" %>><img src=<%= "#{movie.first.thumbnail}" %> /></a></span>
        </div>
        <div class="info">
          <a href=<%= "./movies/#{movie.first.rotten_id}" %>><h4 class="text-center"><%= movie.first.title %></h4></a>
          <h5 class="text-center"><em>Release Date: <%= movie.first.release_date %></em></h5>
            <% if movie.first.synopsis.length > 300 %> 
              <p><%= "#{movie.first.synopsis[0..300]}..." %></p>
            <% else %>
              <p><%= movie.first.synopsis %></p>
            <% end %>
          <a href=<%= "./movies/#{movie.first.rotten_id}" %> class="btn">Read more</a>
        </div>
      </div>
    </div>

    <% if movie.count == 2 %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box">
        <div class="box-icon">
          <span><a href=<%= "./movies/#{movie.last.rotten_id}" %>><img src=<%= "#{movie.last.thumbnail}" %> /></a></span>
        </div>
        <div class="info">
          <a href=<%= "./movies/#{movie.last.rotten_id}" %>><h4 class="text-center"><%= movie.last.title %></h4></a>
          <h5 class="text-center"><em>Release Date: <%= movie.first.release_date %></em></h5>
            <% if movie.last.synopsis.length > 300 %> 
              <p><%= "#{movie.last.synopsis[0..300]}..." %></p>
            <% else %>
              <p><%= movie.last.synopsis %></p>
            <% end %>
          <a href=<%= "./movies/#{movie.last.rotten_id}" %> class="btn">Read more...</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<% end %>
